#Cython specific files
src/CDR_process/*.so
src/CDR_process/*.c
src/CDR_process/build/

# Mac files
.DS_Store

# Census files
data/census/*

# Milan shp
data/milan_sez_2011/Milano*

# Always include .md
!*.md