#Cython specific files
*.so
*.c
src/CDR_process/build/

# Mac files
.DS_Store

# Census files
data/census/*
data/CDR/*

# Milan shapefiles
data/milan_sez_2011/Milano*

# Always include .md
!*.md

# IPython notebook checkpoints
.ipynb_checkpoints
!data/CDR/README.md

# Cache files
__pycache__