#Cython specific files
*.so
*.c
src/CDR_process/build/

# Mac files
.DS_Store

# Census files
data/census/*
data/CDR/*

# Milan shapefiles
data/milan_sez_2011/*

# Milan shapefiles
data/milan_sez_2011/Milano*

# Always include .md
!*.md
!data/CDR/README.md
!data/CDR/generated/README.md

# IPython notebook checkpoints
.ipynb_checkpoints

# R project user settings
.Rproj.user
.RData
.Rhistory

# bit files
src/notebooks/*.png
*.psd
*.pdf

# Temporary CSV files
data/CDR/hash/region_network_final.csv
data/CDR/hash/0805_networks.csv
data/CDR/hash/sez_network.csv
data/CDR/hash/0831_region_time.csv
data/CDR/hash/0918_region_weekday_signature.csv
data/CDR/hash/0918_region_weekend_signature.csv
data/CDR/hash/0918_weekday_grid_signature.csv
src/notebooks/*.csv
data/GeoJSON/0916_sez_with_features.geojson

# Rmd generated HTML files
*.html

#experiment files
src/notebook-exp

# Cache files
__pycache__

# log files
derby.log
metastore_db

# include hash files
!data/CDR/hash