html, body {width:100%;height:100%}

.col-sm-6,.row {
  height:100%;
}
.row > div {
  height:100%;
}

.left-side, .right-side {
  padding: 0;
}
.map-container{
  margin: 0;
}

#controls {
  /* Appearance */
  background-color: black;
  color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.6;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}


.leaflet-control-layers {
  top: 108px;
}
.leaflet-control-zoom {
  top: 50px;
}


.legend{
  color: #dedede;  
}

.info{
  background: black none repeat scroll 0 0;
}

.h1, .h2, .h3, h1, h2, h3 {
    color: white;
}

.middle {
  left: calc(50% - 175px);
}

text {
  fill:white;
}

.modal-dialog {
  margin-top: 5px;
}

.modal-backdrop {
   background-color: black;
}


.modal-content {
  background-color: #303030;
  color: white;
}

.modal-content img{ 
  border: 0 0 0 0;
}

.modal-content th{
  border:0 0 0 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 0px solid #ddd;
  }

.modal-content table{
  border-width: 0 0 0 0;
}

/*.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #464545;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 20px;
}
.modal-footer {
  padding: 20px;
  text-align: right;
  border-top: 1px solid #464545;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}*/
/*
.map-container {
    display: table;
    background-color: green;
    height: 100%;
}

.left-side {
    height: 100%;
    background-color: blue;
    float: none;
    display: table-cell;
    border: 1px solid;
}

.right-side {
    height: 100%;
    background-color: red;
    float: none;
    display: table-cell;
    border: 1px solid;
}*/